/*!
 Project   : Total WordPress Theme
 Purpose   : Visual Composer iFrame styles
 Author    : WPExplorer
 Theme URI : http://www.wpexplorer.com
 */body .vc_ui-help-block.vc_welcome-visible-e{display:none !important}
